@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Nativo como fallback seguro e sem causar conflitos com o Turbopack */
body {
  background-color: #FFFFFF;
  color: #545454;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: 600;
}